<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.taskdoday">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_d1_white_fit_grad_light"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_d1_white_fit_grad_light_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2">
        <activity android:name=".SettingsActivity"></activity>
        <activity android:name=".StatsActivity" />
        <activity android:name=".StartActivity" android:theme="@style/NoActionBar"/>
        <activity android:name=".CalendarActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="false" >
        </receiver>
        <service
            android:name=".MyNewIntentService"
            android:exported="false" >
        </service>

    </application>

</manifest>